<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--@thymesVar id="model" type="org.softwire.training.bookish.models.page.MemberPageModel"-->

<head>
    <title>Bookish - Members</title>

    <link rel="stylesheet" href="/styles/general.css"/>
    <link rel="stylesheet" href="/styles/navbar.css"/>
</head>

<body>

    <div th:replace="fragments/navbar :: navbar">
    </div>
    <div class="container">
        <h2>List of Members:</h2>

        <div class="member-list">
            <div th:each="member : ${model.members}" class="members">
                <span  th:text="${member.Named}" />

                <a th:href="${'/members/edit-member?userId=' + member.userId}" class="edit-button">edit</a>
                <a th:href="${'/members/delete-member?userId=' + member.userId}" class="delete-button">delete</a>

            </div>
        </div>

        <h2>Add a Member:</h2>
        <form th:action="@{/members/add-member}" method="post">
            <div class="add-member-row">
                <label>
                    <span>Name: </span>
                    <input type="text" name="Named">
                </label>
            </div>
            <div class="add-tech-row">
                <span><!-- spacer --></span>
                <input type="submit" value="Add member" />
            </div>
        </form>
    </div>
</body>
</html>